In [2]:
#creating functions using def

In [51]:
# 1st function palindrome
#palindrome means a word is exact same when it is opposite example dad = dad

def palindrome(word):
    if type(word) == str:
        word = word.upper() 
        if word == word[: : -1]:  #it is used to reverse the string
            print(f'{word} is palindrome')
        else:
            print(f'{word} is not palindrome')
    else:   
        print('the given input is not string/invalid data  type')
    
palindrome('121')    

#here we used if (word) == str: because we want to know that only string(word) is palindrome so by using this it will not give 
# answer if its numeric data type
#here we used .upper because if user enters in lower/upper case it doesnt matter it will convert code in upper case and only
# single = is used

121 is palindrome

In [49]:
#function palindrome

def palindrome(word):
    if type(word) == str:
        word = word.upper()
        if word == word[ : : -1]:
            print(f'{word} is palindrome')
        else:
            print(f'{word} is not palindrome')
    else:
        print(f'{word} invalid data type')
        
    
    

palindrome(120)
palindrome('nitin')

120 invalid data type
NITIN is palindrome

In [55]:
#function 2
#fibonacci in this last number is added to it example-[0, 1, 1, 2, 3, 5, 8, 13 etc

def fibonacci(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        sec_last_num = fibo[-2]
        next_num = last_num + sec_last_num
        fibo.append(next_num)
    return fibo
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [63]:
#function to calculate sum of n 
def sum_of(n):
    result = 0
    for i in range(1,n+1):
        result += i  
    return result
sum_of(10)

55

In [69]:
def sum_n(n):
    result = 0
    for i in range(1,n+1):
        result +=i  #Har baar loop mein i ko result ke andar add kar diya jaata hai. Same as: result = result + i
    return result
sum_n(10)

55

In [71]:
def sum_of(n):
    result = 0
    for i in range(1,n+1):
        result = result + i  
    return result
sum_of(10)

55

In [79]:
#function to find total sales
#here we use *args for multiple inputs
def total_sales(*args):
    result = 0
    for i in args:
        result += i  #Jo bhi numbers humne function ko diye hain, unpe ek-ek karke loop chalega.
    return result
    
total_sales(1,2,3,5)

11

In [81]:
def total_s(*args):
    result = 0
    for i in args:
        result += i
    return result
total_sales(1,2,5,6)

14

In [83]:
#function to find min element 
def minin(*sales):
    min_element = sales[0]
    for i in sales[1:]:
        if i < min_element:
            min_element = i
    return min_element
minin(12,1,23,56)

1

In [85]:
def maxim(*n):
    max_element = n[0]
    for i in n[1:]:
        if i > max_element:
            max_element = i
    return max_element
    
maxim(12,23,55)

55

In [4]:
company = ['ola','uber','rapido','adani','tata']
#this is our data and we have to add #infornt of this and have to convert this into upper
def hashtag(*company):
    result = []
    for i in company:
        result.append('#' + i.upper())
    return result
    
hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#ADANI', '#TATA']

In [16]:
company = ['ola','uber','rapido','adani','tata']
def add_hashtag(*company):
    result = []
    for j in company:
        result.append('#' + j.upper())
    return result  
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#ADANI', '#TATA']

In [22]:
company = ['ola','uber','rapido','adani','tata']
for j in company:
    result = []
    result.append('#' + j.upper())
    print(result)

['#OLA']
['#UBER']
['#RAPIDO']
['#ADANI']
['#TATA']

In [24]:
#exception handling
#here we use try and except
#simple code

In [38]:
age = '22'
try:
    if age >= 18:
        print('can vote')
    else:
        print('cannot vote')
except:
    print('invalid argument')

invalid argument

In [7]:
#in this we can also define the exception in the exception block
age = 'aa'
try:
    if age >= 18:
        print('can vote')
    else:
        print('cannot vote')
except TypeError:
    print('invalid argument')

invalid argument

In [5]:
#agar humne jis type ka error declare kiya hai toh tabh bhi error ajayega code mein 
#usk
age = 12
try:
    if age >= 18:
        print('can vote')
    else:
        print('cannot vote')
except TypeError:
    print('invalid argument')

cannot vote

In [9]:
def student_records(**kwargs):
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
        data = pd.DataFrame(kwargs,index = [1])
        return data

In [11]:
student_records(Name='Ajay',Class=12,City='Delhi')

   Name  Class   City
1  Ajay     12  Delhi

In [13]:
student_records(Name = ['Ashu','Anuu','kalu'],
               Class = [3, 12 , 11],
               City = ['Delhi' , 'Jamnapar' , 'Goa'])

   Name  Class      City
0  Ashu      3     Delhi
1  Anuu     12  Jamnapar
2  kalu     11       Goa

In [31]:
#creating a time function
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1) #it means it will change the time in  every 1second
            display(clear = True)#this line is for showing only the latest time it clears the previous one
    except:
        print('Timer has been stopper')#when we stop the timer this line will printed

show_time()

Sat Jul  5 12:11:05 2025
Timer has been stopper

In [20]:
def show_time():
  try:
    while True:
      import time
      print(time.asctime())
      time.sleep(2)
      display(clear = True)
  except:
    print('Timer has been Stopped!!')

In [27]:
show_time()

Sat Jul  5 12:10:39 2025
Timer has been Stopped!!