In [2]:
import pymysql as py
print('Done')

Done

In [6]:
conn = py.connect(user = 'root',
                 password = '25143359',
                 host = 'localhost',
                 autocommit = True)

print('connection created  successfully !!')
print('done')

connection created  successfully !!
done

In [8]:
cur = conn.cursor()
print('done')

done

In [12]:
#Creating Database
q = '''create  database librarry; '''
cur.execute(q)
print('done')

done

In [14]:
#using the database we made 
q = '''use librarry'''
cur.execute(q)
print('done')

done

In [20]:
#creating table
q = '''create table book
(
book_id int not null,
title char(50),
author varchar(50),
price int 
);'''
cur.execute(q)
print('done')

done

In [22]:
q = '''insert into book 
values
(101,"Rich dad poor dad", "A", 500),
(102,"48 laws of power", "B",600),
(103,"Power of money", "C",450);
'''
cur.execute(q)
print('done')

done

In [24]:
#display the records we inserted
q = '''SELECT * FROM book'''
cur.execute(q)
records = cur.fetchall()
print(records)

((101, 'Rich dad poor dad', 'A', 500), (102, '48 laws of power', 'B', 600), (103, 'Power of money', 'C', 450))

In [26]:
#to get all the column names  
all_columns = []
for i in cur.description:
    all_columns.append(i[0])

print(all_columns)

['book_id', 'title', 'author', 'price']

In [28]:
#transforming the data into a data frame
import pandas as pd
df = pd.DataFrame(records,columns = all_columns)
df

   book_id              title author  price
0      101  Rich dad poor dad      A    500
1      102   48 laws of power      B    600
2      103     Power of money      C    450

In [33]:
#now will convert this dataframe into a csv file
df.to_csv('Library.csv',index = False)