In [8]:
#pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\dell\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql as py
print('done')

done

In [6]:
conn = py.connect(user = 'root', 
           password = '25143359',
          host = 'localhost',
          autocommit = True)
print('connection created successfully !!')
print('done')

connection created successfully !!
done

In [ ]:
#cursor

In [8]:
cur = conn.cursor()
print('Done')

Done

In [10]:
#create database using python

In [12]:
query = '''create database IITM_day5; '''

cur.execute(query)
print('done')

done

In [14]:
query = '''USE IITM_day5;'''
cur.execute(query)
print('done')

done

In [16]:
query = '''create table student_details
(
SID int not null,
S_name char(50),
course varchar(50),
Address varchar(50),
Scholorship float
);'''

cur.execute(query)
print('done')

done

In [18]:
query = '''
insert into student_details
values
(101,"Ashmeet singh","Bca","Delhi Rohini",52000.50),
(102,"Manchi sarma" ,"Mca","Delhi Jamnapar",50.01);
'''

cur.execute(query)
print('done')

done

In [24]:
sid = int(input('Enter roll no  or  sid : '))
name  =  input('enter your name : ')
course = input('enter your course name : ')
address = input('enter your address :  ')
scholorship =  float(input('enter your scholorship in rs : '))

q = f'''insert into  student_details values
({sid} , "{name}", "{course}" , "{address}" , {scholorship });
'''
cur.execute(q)
print('done')

Enter roll no  or  sid :  103
enter your name :  Aman
enter your course name :  Bba
enter your address :   G N
enter your scholorship in rs :  36.0

done

In [28]:
n = 3 
for i in range(n):
    sid = int(input('Enter roll no  or  sid : '))
    name  =  input('enter your name : ')
    course = input('enter your course name : ')
    address = input('enter your address :  ')
    scholorship =  float(input('enter your scholorship in rs : '))
    
    q = f'''insert into  student_details values
    ({sid} , "{name}", "{course}" , "{address}" , {scholorship });
    '''
    cur.execute(q)
    print('record inserted successfully')
print('done')

Enter roll no  or  sid :  104
enter your name :  Naman
enter your course name :  bba
enter your address :   f n
enter your scholorship in rs :  36.5

record inserted successfully

Enter roll no  or  sid :  105
enter your name :  haman
enter your course name :  mba
enter your address :   noida
enter your scholorship in rs :  555.5

record inserted successfully

Enter roll no  or  sid :  106
enter your name :  nampo
enter your course name :  bcom
enter your address :   paschim vihar
enter your scholorship in rs :  22.6

record inserted successfully
done

In [53]:
q = '''select * from student_details;'''
cur.execute(q)


records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])
    
import pandas as pd
pd.DataFrame(records,columns = all_columns)

   SID         S_name course         Address  Scholorship
0  101  Ashmeet singh    Bca    Delhi Rohini     52000.50
1  102   Manchi sarma    Mca  Delhi Jamnapar        50.01
2  103           Aman    Bba             G N        36.00
3  104          Naman    bba             f n        36.50
4  105          haman    mba           noida       555.50
5  106          nampo   bcom   paschim vihar        22.60

In [49]:
all_columns = []
for i in cur.description:
    all_columns.append(i[0])

In [72]:
def show_records(db,table):
    q = f'''select * from {db}.{table};'''
    cur.execute(q)
    
    records = cur.fetchall()
      
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
        
    import pandas as pd
    df = pd.DataFrame(records,columns = all_columns)
    return df

In [74]:
show_records('iitm_day5','student_details')

   SID         S_name course         Address  Scholorship
0  101  Ashmeet singh    Bca    Delhi Rohini     52000.50
1  102   Manchi sarma    Mca  Delhi Jamnapar        50.01
2  103           Aman    Bba             G N        36.00
3  104          Naman    bba             f n        36.50
4  105          haman    mba           noida       555.50
5  106          nampo   bcom   paschim vihar        22.60

In [78]:
show_records('iitm_db','sample_superstore')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9690,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9691,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9692,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x...",29.6000,4,0.00,13.3200
9693,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480