In [14]:
#exception handling try and except

age = '23'
try: 
    
    if age>=18:
        print('can vote')
    else:
        print('can\'t vote' )
except TypeError:
    print('something went wrong')
    print('invalid datatype comparison')
except:
    print('invalid')





#args means input in tuple form
#kwargs means input in dictinory form

something went wrong
invalid datatype comparison

In [22]:
def student_records(**kwargs):
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data 
    except:
            data = pd.DataFrame(kwargs,index = [1])
            return data 


student_records(Name = ['ajay','arun','poll'],
                City =['Delhi','noida','goa'],
                Age = [19,20,25],
                Sec = list('ABC') #here we can type cast this into list
               )

   Name   City  Age Sec
0  ajay  Delhi   19   A
1  arun  noida   20   B
2  poll    goa   25   C

In [33]:
#making infinite loop with the while loop  and making timer with it

def show_time():
    import time
    try:
        while True:
                print(time.asctime())
                time.sleep(1)
                display(clear = True)
    except:
        print('timer has been stopped')

show_time()

Fri Jul  4 10:37:39 2025
timer has been stopped

In [1]:
import ashmeet as a
print('done')
a.star(n = 5,typ ='centre', shape='!')

This is Ashmeet module
Info: https://www.google.com/
done
    !
   ! !
  ! ! !
 ! ! ! !
! ! ! ! !

In [3]:
a.sum_of_n(10)

55

In [5]:
a.factorial(5)

120

In [7]:
a.check_palidrome('nitin')

 NITIN is a palidrome

In [96]:
a.give_fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [98]:
a.sound_box(500)

In [9]:
from ashmeet import minin
print('done')

done

In [11]:
minin(12,23,25,55)

12

In [13]:
from ashmeet import student_records
print('done')

done

In [15]:
student_records(name = 'ash',age = '15')

  name age
1  ash  15

In [19]:
from ashmeet import *
print('done')

done

In [21]:
import turtle 
print('done')

done

In [9]:
import turtle
for i in range(360):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['red','green','yellow']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.right(1)

In [1]:
import turtle
for i in range(6):
    turtle.color('cyan')
    turtle.bgcolor('black')
    turtle.forward(150)
    turtle.left(60)

In [2]:
#file handling

In [4]:
'''
ther are two types of files
1 text file - 
.py ,. csv , .java
2 binary file- the file which needs software to be run 
.xlsx, .mp3, .mp4 , .exe , .png   
#handing   = read,write,copy,append,delete,open,new ,close '''

'\nther are two types of files\n1 text file - \n.py ,. csv , .java\n2 binary file- the file which needs software to be run \n.xlsx, .mp3, .mp4 , .exe , .png   \n#handing   = read,write,copy,append,delete,open,new ,close '

In [6]:
#context manager

In [22]:
file = open('ashmeet.py', mode = 'r')
print(file.read())
file.close()

print('''This is Ashmeet module
Info: https://www.google.com/''')


def check_palidrome(word):
    if type(word) == str:
        word = word.upper()

        if word == word[::-1]:
            print(f' {word} is a palidrome')
        else:
            print(f'{word} not a palindrome')
    else:
        return 'invalid data type'


def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num
        fibo.append(next_num)

    return fibo

def check_prime(number):
    for i in range(2,number):
        if number%i == 0:
            print(f'{number } is not a prime number')
            break
    else:
        print(f'{number} is a prime number')

def star(n,typ = 'left',shape = '*'):
    if typ == 'left':
        space = ''
    elif typ == 'right':
        space = '  '
    elif typ == 'centre':
        space =' '
    for i in range(1,n+1):
        print(space *(n-i) + i*f'{shape} ')





def sum_of_n(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result


def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result


def total_s(*args):
    result = 0
    for i in args:
        result += i
    return result


def minin(*sales):
    min_element = sales[0]
    for i in sales[1:]:
        if i < min_element:
            min_element = i
    return min_element

def maxim(*sales):
    max_element = sales[0]
    for i in sales[1:]:
        if i > max_element:
            max_element = i
    return max_element




def store_records(name,age,sec,roll_no,Class):
    data = {
        'Name' : name, 'Age' : age, 'Sec' : sec, 'Roll no' : roll_no, 'Class' : lass}
    import pandas as pd
    result = pd.DataFrame(data,index = [1])
    return result


def student_records(**kwargs):
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
            data = pd.DataFrame(kwargs,index = [1])
            return data

def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [24]:
f = open('ashmeet.py', mode = 'r')

In [40]:
print(f.readline())
f.close()

    if type(word) == str:

In [56]:
f = open('ashmeet.py', mode = 'r')
for i in range(10):
    if i == 4:
        print(f.readline())
    else:
        f.readline()
f.close()
print('done')

def check_palidrome(word):

done

In [58]:
f = open('ashmeet.py', mode = 'r')

In [60]:
data = f.readlines()
f.close()
print('done')

done

In [64]:
print(data[5])

    if type(word) == str: